@import url('https://fonts.googleapis.com/css2?family=Lohit+Devanagari&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta&display=swap');

/* Styling for page background - place on line 3 of page with {% block body_class %}home-bg{% endblock %} */

.default-bg {
    background-color: #035E7B; /* Dark blue */
}

.dark-blue-bg {
    background-color: #035E7B !important; /* Dark blue */
}

.pink-bg {
    background-color: #EFA8B8 !important; /* Pink */
}

.turquoise-bg {
    background-color: #72E1D1 !important; /* Turquoise */
}

/* Styling for profile class */

.profile {
    display: block;
    background-color: #72e1d1;
    max-width: 800px; 
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Lexend Zetta', sans-serif;
    text-wrap: wrap;
}

.large-profile-box-text {
    margin: 10px;
    font-size: 24px;
    color: #3e2a35;
    line-height: 1.2;
    text-align: center;
}
.journal-entry-hidden {
    display: none;
}
#journal-entry {
    display: block;
    width: 100%;
    color: #3e2a35;
}
.journal-entry-submitted {
    text-align: center;
    color: #ffffff;
    font-size: 50px !important;
}
.profile-already-submitted{
    text-align: left;
    color: #035E7B;
    font-size: 20px !important;
}
#journal-entry-text {
    margin: 10px 0px;
}

#journal-entry-button {
    margin-top: 10px;
}

.greeting {
    color: #ffffff;
    font-size: 50px !important;
    /* font-family: 'Lohit Devanagari', 'sans-serif' !important; */
    max-width: 1200px;
}
.profile_journal_submitted{
    /* font-family: 'Lexend Zetta', sans-serif;
    font-size: 36px;
    text-wrap: wrap;
    text-align: center; */
    background-color: #EFA8B8;
    border-color:#EFA8B8;
    border-radius: 15px;
    border-style: solid;
    border-width: thick;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-height: 50px;
    max-width: 800px; /* Set a max width */
    padding: 30px;
    /* margin: 40px 60px; */
    margin: 20px auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    color: #3e2a35;
    word-wrap: break-word;
    /* text-align: center; */
}
.profile-carousel-content {
    background-color: #035E7B;
    /* border-color:#3F7CAC; */
    border-color:#035E7B;
    border-radius: 15px;
    border-style: solid;
    border-width: thick;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-height: 50px;
    max-height: 200px;
    padding: 30px;
    margin: 40px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #3e2a35;
    word-wrap: break-word;
    text-align: center;
    /* max-width: 800px; */
}
  
.hidden {
    display: none;
}
.central-prompt{
    font-family: 'Lexend Zetta', sans-serif;
    font-size: 36px;
    text-wrap: wrap;
    text-align: center;
}

/* Styling for prompt */

.prompt {
    font-family: 'Lexend Zetta', sans-serif;
    font-size: 36px;
    text-wrap: wrap;
    text-align: left;
}

.prompt-intro-brown {
    color: #3e2a35;
    max-width: 800px;
}

.prompt-intro-turquoise {
    color: #72e1d1;
    max-width: 1200px;
}

.prompt-text-white {
    color: #ffffff;
    font-weight: bold;
    font-size: 70px !important;
    max-width: 800px;
    text-align: left;
    font-family: 'Lohit Devanagari', 'sans-serif' !important;
}

.prompt-text-pink {
    color:#EFA8B8;
    font-size: 60px !important;
    font-family: 'Lohit Devanagari', 'sans-serif' !important;
    max-width: 1200px;
}

/* Styling for navigation */

.navbar {
    background-color: #3F7CAC;  
}

.navbar-logo {
    padding-left: 25px;  
}

.navbar .btn {
    color: white;
    font-weight: bold;
    border-radius: 50px !important;      
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important; 
    padding: 10px 20px !important; 
    background-color: #EFA8B8 !important;
}

.navbar .btn:hover {
    background-color: #e08592 !important; 
}

.navbar-toggler {
    border-color: #ffffff !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

/* Styling for the Login Template */
.card {
    background-color: #EFA8B8;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-primary {
    background-color: #EFA8B8;
    border: none;
}

.btn-primary:hover {
    background-color: #e08592;
}

a.btn-link {
    font-size: 14px;
    text-decoration: none;
    color: #000000;
}

a.btn-link:hover {
    text-decoration: underline;
}

/* Style for the buttons to make them bubble-like */
.btn-primary.rounded-circle {
    width: 100%;   
    height: 60px;  
    text-align: center;
    border-radius: 50px; 
}

.btn-link.rounded-circle {
    width: 100%;  
    height: 60px;  
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px; 
    background-color: #EFA8B8;
    color: white;
}

.btn-link.rounded-circle:hover {
    background-color: #e08592; 
}

/* explore page */ 
#explore-head {
    text-align: center; 
    font-size: 3rem; 
    margin: 20px 0; 
    color: white;
    padding-bottom: 0;
    letter-spacing: 0.5em;
}

#map {
    height: 40rem;
    margin-top: 2rem;
    border: 10px solid #EFA8B1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}

#login-status-btn{
    text-align: center; 
    font-size: 2rem; 
    margin: 20px 0; 
    color: white;
    padding-bottom: 0;
    letter-spacing: 0.2em;
    border-radius: 30px;
    background-color: #EFA8B8;
}

/* edit pop up stuff */
.leaflet-popup {
    background-color: #3F7CAC !important;
    border-radius: 20px;
    border-color: #72e1d1;
    border: 5px solid #e08592;

}

.leaflet-popup-content {
    padding: 5px; 
    margin: 0; 
    border: none !important; 
    color: white; 
    
}

.leaflet-popup-content-wrapper {
    border: none !important;
    background-color: transparent !important; 
}

.like-button {
    background-color: #EFA8B1; 
    color: white; 
    border: none; 
    padding: 10px; 
    margin-top: 10px;
    border-radius: 5px; 
    cursor: pointer; 
    font-weight: bold;
}

.like-button:hover {
    background-color: #cb8f97; 
}

/* Styling for index */

.carousel-content {
    background-color: #ffffff; 
    border-color:#72e1d1;
    border-radius: 15px;
    border-style: solid;
    border-width: thick;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-height: 180px;
    padding: 30px;
    margin: 20px 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #3e2a35;
    word-wrap: break-word;
    text-align: center;
}
  
.carousel-prompt {
    color: #EFA8B1;
    font-size: 30px;
    font-weight: bold;
}
.carousel-entry {
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Lohit Devanagari', 'sans-serif' !important;
}
.carousel-control-prev {
left: -35px;
}

.carousel-control-next {
right: -35px;
} 