{% extends 'base.html' %}
{% load static %}
{% block body_class %}default-bg{% endblock %} <!-- Can change to pink-bg, dark-blue-bg, turqouise-bg -->

{% block content %}

<div class="container">
    <div class="about-terms">
        <h1>About airtales</h1>
    </div>
    <div class="blue-rounded-container about-terms about-terms-text">
        <p>Airtales is a daily journal platform designed to spark creativity, encourage reflection, and connect people through shared storytelling. Every day, users around the world receive a single word prompt, inviting them to share experiences, express themselves, and capture a moment in time through writing. No two interpretations are ever the same, making each day a unique and personal journey.</p>
    </div>
</div>

{% endblock %}