{% extends 'base.html' %}
{% load static %}
{% block body_class %}default-bg{% endblock %} <!-- Can change to pink-bg, dark-blue-bg, turqouise-bg -->

{% block content %}

    <!-- Show today's prompt -->

    <div class="container prompt">
      <h2 class="prompt-text main-prompt"> {{ prompt_text }} </h2> 
      {% if prompt_text_0 == "no prompt yet..." %}
      <h6 class="pink-text"> check back soon!</h6>
      {% else %}
      <h3 class="pink-text"> is the word of today</h3>
      {% endif %}
      <p class="pink-text" id="index-introduction">
        Practice journalling with a short post inspired by the daily prompt and explore the anonymous musings of global community.
      </p>
      <a class="btn btn-primary my-2" id="index-signup" href="{% url 'airtalesapp:signup' %}">Sign up to get started</a>
    </div>

  <div class="container left-container">
    <h3 class="blue-text" id="index-tagline">one word, one thought, everyday... </h3>
  </div>
{% endblock %}