{% extends 'base.html' %}
{% load static %}
{% block body_class %}default-bg{% endblock %} <!-- Can change to pink-bg, dark-blue-bg, turqouise-bg -->

{% block content %}

    <!-- Show today's prompt -->

    <div class="container prompt-container">
      <h2 class="prompt-text main-prompt mt-4"> {{ prompt_text }} </h2> 
      {% if prompt_text_0 == "no prompt yet..." %}
      <h3 class="pink-text py-2"> check back soon!</h3>
      {% else %}
      <h3 class="pink-text py-2"> is the word of today</h3>
      {% endif %}
      <p class="pink-text" id="index-introduction">
        Practice journalling with a short post inspired by the daily prompt and explore the anonymous musings of global community.
      </p>
      <a id="index-signup" class="btn btn-primary px-4 mt-4 mb-2" href="{% if user.is_authenticated %}/profile/{% else %}/login/{% endif %}">
        {% if user.is_authenticated %}
            share your tale today
        {% else %}
            login or sign up to share
        {% endif %}
    </a>    
  </div>

  <div class="container tagline-container">
    <h3 class="blue-text my-2 mx-3" id="index-tagline">one word, one thought, everyday... </h3>
  </div>
{% endblock %}