{% extends 'base.html' %}
{% load static %}
{% block body_class %}default-bg{% endblock %} <!-- Can change to pink-bg, dark-blue-bg, turqouise-bg -->

{% block content %}

<div class="container centred-container">

    <h1 class="login py-3">Login to share</h1>

    {% if messages %}
        <div class="alert alert-danger" role="alert">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}

    <div class="card">
        <form method="POST" action="{% url 'airtalesapp:login' %}">

            {% csrf_token %}

            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>

            <div class="btn-container">
                <button type="submit" class="btn btn-primary-dark full-width">Login</button>
            </div>
        </form>
        <div class="centred-container mt-3">
            <p class="account-text">Don't have an account? <a class="lnk-secondary" href="{% url 'airtalesapp:signup' %}">Sign Up</a></p>
        </div>
    </div>

    <div class="btn-container">
        <a href="#" class="btn btn-secondary full-width">Forgot Password?</a>
    </div>
</div>


{% endblock %}