{% extends 'base.html' %}
{% load static %}
{% block body_class %}default-bg{% endblock %} <!-- Can change to pink-bg, dark-blue-bg, turqouise-bg -->

{% block extra_js %}
  <script src="{% static 'js/location.js' %}"></script>
{% endblock %}

{% block content %}

  <div class="container centred-container partial-width">

    <div class="container welcome-textbox full-width">                
      <h3 class="text-white py-2" id="welcome"> welcome back {{ request.user.username }} </h3>
    </div>
    <div class="prompt">                  
      <h2 class="pink-text py-3"> start today's prompt:</h2>
      <h3 class="prompt-text centred-text py-2">{{ prompt_text }}</h3> 
    </div>

    {% if not prior_entry%}
      <div class="blue-rounded-container full-width">
        <form method="POST" action="{% url 'airtalesapp:save_entry' %}" id="journalForm">
          {% csrf_token %}
          <div id="journal-entry">
            <label for="journal-entry-text" class="form-label" id="tell-us">tell us everything...</label>
            <textarea class="form-control my-2" id="journal-entry-text" name="entry_text" rows="3" ></textarea>
            <input hidden type="text" name="latitude" id="latitude" value=""/>
            <input hidden type="text" name="longitude" id="longitude" value=""/>
            <button type="submit" class="btn btn-primary mt-3" id="journal-entry-button">Submit</button>
          </div>
        </form>
      </div> 
    {%else%}
      <div class="welcome-textbox full-width" id="journal-entry-container">
        <div class="container white-text">  
          <h5 class="text-center p-2"> journal entry submitted for today </h5>                         
        </div>
      </div>
    {%endif%}
  </div>

  <div class="carousel-spacing my-4">
    <div id="index-car-indicators" class="carousel slide">

            <div class="carousel-inner">
            {% if prior_entry%}
              <div class="carousel-item active">
                <div class="carousel-content">
                  <p class="carousel-prompt">{{ today }} </p>
                  <p class="carousel-prompt"> {{ prompt_text }} </p>
                  <p class="carousel-entry"> {{ todays_entry }} </p>
                </div>
              </div>
              <div class="carousel-item">
                <div class="carousel-content">
                  <p class="carousel-prompt">{{ yesterday }} </p>
                  <p class="carousel-prompt"> {{ prompt_text_1 }} </p>
                  <p class="carousel-entry"> {{ previous_entry_1 }} </p>
                </div>
              </div>
              <div class="carousel-item">
              <div class="carousel-content">
                <p class="carousel-prompt">{{ two_days_ago }} </p>
                <p class="carousel-prompt"> {{ prompt_text_3 }} </p>
                <p class="carousel-entry"> {{ previous_entry_3 }} </p>
              </div>
            </div>
        {%else%}    
            <div class="carousel-item active">
              <div class="carousel-content">
                <p class="carousel-prompt">{{ yesterday }} </p>
                <p class="carousel-prompt"> {{ prompt_text_1 }} </p>
                <p class="carousel-entry"> {{ previous_entry_1 }} </p>
              </div>
            </div>
            <div class="carousel-item">
              <div class="carousel-content">
                <p class="carousel-prompt">{{ day_before }}  </p>
                <p class="carousel-prompt"> {{ prompt_text_2 }} </p>
                <p class="carousel-entry"> {{ previous_entry_2 }} </p>
              </div>
            </div>

              <div class="carousel-item">
                <div class="carousel-content">
                  <p class="carousel-prompt">{{ two_days_ago }}  </p>
                  <p class="carousel-prompt"> {{ prompt_text_3 }} </p>
                  <p class="carousel-entry"> {{ previous_entry_3 }} </p>
                </div>
              </div>
          {%endif%}

      </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#index-car-indicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#index-car-indicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="lower-page-container centred-text">
    <a href="{% url 'airtalesapp:userjournal' %}" class="btn btn-primary">View All Entries</a>
  </div>
{% endblock %}
