{% extends 'base.html' %}
{% load static %}
{% block body_class %}pink-bg{% endblock %} <!-- Can change to pink-bg, dark-blue-bg, turqouise-bg -->

{% block extra_js %}
<script src="{% static 'js/location.js' %}"></script>
{% endblock %}

{% block content %}

    <div class="container">
<!-- working area -->
      <div class="row my-5">
        <div class="col">
          <div class="prompt">                
            <p class="greeting"> welcome back {{ request.user.username }} </p>
          </div>
        </div>
      </div>
      
      <div class="row my-5">
        <div class="col">
          <div class="prompt">                    
            <p class="prompt-intro-brown"> start today's prompt:</p>
            <p class="prompt-text-white">{{ prompt_text }}</p>             
          </div>
        </div>
        <!-- <div class="col">
            <p class="prompt-text-white">{{ prompt_text }}</p>
        </div> -->
      </div>

{% if not prior_entry%}
<div class="row">
    <div class="col">


      <div class="profile">
        <form method="POST" action="{% url 'airtalesapp:save_entry' %}" id="journalForm">
          {% csrf_token %}
          <div id="journal-entry">
            <label for="journal-entry-text" class="form-label">tell us everything...</label>
            <textarea class="form-control" id="journal-entry-text" name="entry_text" rows="3" ></textarea>
            <input hidden type=text" name="latitude" id="latitude" value=""/>
            <input hidden type=text" name="longitude" id="longitude" value=""/>
            <button type="submit" class="btn btn-primary" id="journal-entry-button">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div> 
  {%else%}
  
 
  <div class="profile_journal_submitted">
    <!-- <p > {{todays_entry}} </p> -->
     <p class="profile-already-submitted"> entry submitted for today </p>     
     <p class="journal-entry-submitted" > {{todays_entry}} </p>
  </div>
  <!-- <div class="journal-entry-submitted">
    
  </div> -->

  {%endif%}
<div>
<br>
<br>
<br>
    <!-- <div id="entry-yesterday" class="journal-entry hidden">
        <p class = journal-entry>{{ previous_entry_1 }}</p>
    </div> -->

<div class="index-carousel">
    <div id="index-car-indicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#index-car-indicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#index-car-indicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#index-car-indicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <!-- <div class="carousel-content"> -->
            <div class="profile-carousel-content">
            <p class = "carousel-prompt"> {{ yesterday}}:   {{ prompt_text_1 }}</p>            
            <!-- <p class="carousel-prompt"> {{ prompt_text_1 }} </p> -->
            <p class="carousel-entry"> {{ previous_entry_1 }} </p>
            <!-- <button class="btn btn-outline-dark entry-btn" data-entry="entry-yesterday">view entry</button> -->
          </div>
        </div>


        <div class="carousel-item">
          <div class="profile-carousel-content">
            <p class = "carousel-prompt"> {{ day_before}}:  {{ prompt_text_2 }}</p>  
            <!-- <p class="carousel-prompt"> {{ prompt_text_2 }} </p> -->
            <p class="carousel-entry"> {{ previous_entry_2 }} </p>
            <!-- <button class="btn btn-outline-dark entry-btn" data-entry="entry-day-before">View Entry</button> -->
            <!-- <p> {{ top_entry_1 }} </p> -->
          </div>
        </div>
        <div class="carousel-item">
          <div class="profile-carousel-content">
            <p class = "carousel-prompt"> {{ two_days_ago}}:    {{ prompt_text_3 }} </p>  
            <!-- <p class="carousel-prompt"> {{ prompt_text_3 }} </p> -->
            <p class="carousel-entry"> {{ previous_entry_3 }} </p>
            <!-- <button class="btn btn-outline-dark entry-btn" data-entry="entry-day-before">View Entry</button> -->
            <!-- <p> {{ top_entry_2 }} </p> -->
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#index-car-indicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#index-car-indicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  
  <!-- testing area -->
  <!-- <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner"> -->
        <!-- {% for entry in journal_entries %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <div class="d-flex justify-content-center"> -->
                <!-- <a href="{% url 'airtalesapp:view_entry' entry.id %}" class="bubble text-center">
                    {{ entry.title }}
                </a> -->
            <!-- </div>
        </div>
        {% empty %}
        <div class="carousel-item active">
            <p class="text-center">No journal entries available.</p>
        </div>
        {% endfor %} -->
      <!-- </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div>

  </div>

<script>
  $(document).ready(function() {
    $(".entry-btn").click(function() {
        var entryId = $(this).data("entry"); // Get the target entry ID from the button
        $("#" + entryId).toggleClass("hidden"); // Toggle visibility of the corresponding entry
    });
    });
</script> -->


  {% endblock %}



