{% extends 'base.html' %}
{% load static %}
{% block body_class %}default-bg{% endblock %} <!-- Can change to pink-bg, dark-blue-bg, turqouise-bg -->

{% block extra_js %}
<script src="{% static 'js/location.js' %}"></script>
{% endblock %}

{% block content %}

      <div class="container centred-container">
      <!-- working area -->

      <div class="container profile" id="welcome">                
        <h3 class="welcome-textbox"> welcome back {{ request.user.username }} </h3>
      </div>
      <div class="prompt">                    
        <h2 class="pink-text"> start today's prompt:</h2>
        <h3 class="prompt-text">{{ prompt_text }}</h3> 
      </div>

      {% if not prior_entry%}
        <div class="blue-rounded-container profile">
          <!-- <form method="POST" action="{% url 'save_entry'}"> -->
          <form method="POST" action="{% url 'airtalesapp:save_entry' %}" id="journalForm">
          <!-- <form method="POST" action="{% url 'airtalesapp:save_entry' %}"> -->
            {% csrf_token %}
            <div id="journal-entry">
              <label for="journal-entry-text" class="form-label" id="tell-us">tell us everything...</label>
              <textarea class="form-control" id="journal-entry-text" name="entry_text" rows="3" ></textarea>
              <input hidden type="text" name="latitude" id="latitude" value=""/>
              <input hidden type="text" name="longitude" id="longitude" value=""/>
              <button type="submit" class="btn btn-primary" id="journal-entry-button">Submit</button>
            </div>
          </form>
        </div> 
      {%else%}
        <div class="blue-rounded-container profile">
          <p class="large-profile-box-text"> journal entry submitted for today </p>
          <div class="container profile" id="welcome">                
            <h3 class="welcome-textbox">{{ todays_entry }} </h3>
          </div>
        </div>
      {%endif%}
      </div>

            <div class="carousel-item">
              <div class="profile-carousel-content">
                <p class = "carousel-prompt"> {{ day_before}}:  {{ prompt_text_2 }}</p>  
                <!-- <p class="carousel-prompt"> {{ prompt_text_2 }} </p> -->
                <p class="carousel-entry"> {{ previous_entry_2 }} </p>
                <!-- <button class="btn btn-outline-dark entry-btn" data-entry="entry-day-before">View Entry</button> -->
                <!-- <p> {{ top_entry_1 }} </p> -->
              </div>
            </div>
            <div class="carousel-item">
              <div class="profile-carousel-content">
                <p class = "carousel-prompt"> {{ two_days_ago}}:    {{ prompt_text_3 }} </p>  
                <!-- <p class="carousel-prompt"> {{ prompt_text_3 }} </p> -->
                <p class="carousel-entry"> {{ previous_entry_3 }} </p>
                <!-- <button class="btn btn-outline-dark entry-btn" data-entry="entry-day-before">View Entry</button> -->
                <!-- <p> {{ top_entry_2 }} </p> -->
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#index-car-indicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#index-car-indicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

      <!-- testing area -->
      <!-- <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner"> -->
            <!-- {% for entry in journal_entries %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <div class="d-flex justify-content-center"> -->
                    <!-- <a href="{% url 'airtalesapp:view_entry' entry.id %}" class="bubble text-center">
                        {{ entry.title }}
                    </a> -->
                <!-- </div>
            </div>
            {% empty %}
            <div class="carousel-item active">
                <p class="text-center">No journal entries available.</p>
            </div>
            {% endfor %} -->
          <!-- </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

        <div>

      </div>

      <script>
      $(document).ready(function() {
        $(".entry-btn").click(function() {
            var entryId = $(this).data("entry"); // Get the target entry ID from the button
            $("#" + entryId).toggleClass("hidden"); // Toggle visibility of the corresponding entry
        });
        });
      </script> -->

  
    <div class="d-flex justify-content-center mt-4">
        <a href="{% url 'airtalesapp:userjournal' %}" class="btn btn-primary btn-lg">View All Entries</a>
    </div>
  {% endblock %}

