{% extends 'base.html' %}
{% load static %}
{% block body_class %}default-bg{% endblock %}
{% block content %}

<div class="container centred-container">

    <h1 class="login">Create an account</h1>

    <div class="card">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <!-- Email field -->
            <div class="mb-3">
                <label for="{{ user_form.email.id_for_label }}" class="form-label">Email</label>
                {{ user_form.email }}
                {% if user_form.email.errors %}
                    <div class="text-danger">{{ user_form.email.errors }}</div>
                {% endif %}
            </div>

            <!-- Username field -->
            <div class="mb-3">
                <label for="{{ user_form.username.id_for_label }}" class="form-label">Username</label>
                {{ user_form.username }}
                {% if user_form.username.errors %}
                    <div class="text-danger">{{ user_form.username.errors }}</div>
                {% endif %}
            </div>

            <!-- Password field -->
            <div class="mb-3">
                <label for="{{ user_form.password1.id_for_label }}" class="form-label">Password</label>
                {{ user_form.password1 }}
                {% if user_form.password1.errors %}
                    <div class="text-danger">{{ user_form.password1.errors }}</div>
                {% endif %}
            </div>

            <!-- Confirm Password field -->
            <div class="mb-3">
                <label for="{{ user_form.password2.id_for_label }}" class="form-label">Confirm Password</label>
                {{ user_form.password2 }}
                {% if user_form.password2.errors %}
                    <div class="text-danger">{{ user_form.password2.errors }}</div>
                {% endif %}
            </div>

            <button type="submit" class="btn btn-primary dark full-width">Sign Up</button>
        </form>

        <!-- Login link -->
        <div class="centred-container mt-4">
            <p>Have an account? <a class="custom-link" href="{% url 'airtalesapp:login' %}">Log in</a></p>
        </div>
    </div>

    {% if user_form.errors %}
        <div class="alert alert-danger mt-3">
            <strong>Errors:</strong>
            {{ user_form.errors }}
        </div>
    {% endif %}
{% endblock %}