{% extends 'base.html' %}
{% load static %}
{% block body_class %}default-bg{% endblock %} <!-- Can change to pink-bg, dark-blue-bg, turqouise-bg -->

{% block content %}

<div class="about-terms" id="terms">
    <h1>Terms & Conditions</h1>
</div>
<div class="blue-rounded-container about-terms about-terms-text">
    <p>Chelsea to enter text here...</p>
</div>

<div class="about-terms" id="privacy">
    <h1>Privacy Notice</h1>
</div>
<div class="blue-rounded-container about-terms about-terms-text">
    <p>Chelsea to enter text here...</p>
</div>


{% endblock %}