{% extends 'base.html' %}
{% load static %}
{% block body_class %}pink-bg{% endblock %} <!-- Can change to pink-bg, dark-blue-bg, turqouise-bg -->

{% block content %}

<div class="journal-container">
    <h1 class="blue-text">Your Journal Entries</h1>

    <!-- Filter Form -->
   <form method="GET" class="mb-4">
        <div id="journal-nav">
            <a href="{% url 'airtalesapp:profile' %}" class="btn btn-secondary journal-btn" aria-label="Back to profile">Profile</a>
            
            <div class="journal-select">
                <div class="centred-container">
                    <h6>Year</h6>
                    <select name="year" class="form-select journal-entry-select" aria-label="Select year">
                        {% for year in available_years %}
                            <option value="{{ year }}" {% if year == selected_year %}selected{% endif %}>{{ year }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="centred-container">
                    <h6>Month</h6>
                    <select name="month" class="form-select journal-entry-select" aria-label="Select month">
                        {% for month in available_months %}
                            <option value="{{ month }}" {% if month == selected_month %}selected{% endif %}>{{ month }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-secondary journal-btn" aria-label="Submit">search</button>
            </div>
        </div>
    </form>

<!-- Journal Entries List -->
    <div class="list-group">
        {% if journal_entries %}
            {% for entry in journal_entries %}
                <div class="list-group-item d-flex justify-content-between align-items-center">
                    <div>
                        <h6>
                            {{ entry.date|date:"F j, Y" }} 
                            - <span class="text-muted">{{ entry.prompt_text }}</span>
                        </h6>
                        <p>{{ entry.entry }}</p>
                        <form method="POST" action="{% url 'airtalesapp:delete_entry' entry.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this entry?')">Delete</button>
                        </form>
                    </div>
                    <div class="d-flex align-items-center">
                        <span class="me-2 text-muted">❤️ {{ entry.liked_by.count }}</span> 
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p id="no-entry">No entries found for this month.</p>
        {% endif %}
    </div>
</div>
<div class="lower-page-container explore-alignment">
    <p class="blue-text">No more entries to view for this month.</p>
</div>
{% endblock %}